*{
    margin: 0;
    padding: 0;
     }
    body{
     font-family: 'Montserrat', sans-serif;
     }
    
    header {
       background-color: #a183c0;
       
     }
       
     #intro-section{
      padding:60px 0;
    }
     
     .menu__list a{
      list-style-type: none;
       
    }
     .menu__list  a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        }
     */ barra de navegacion horizontal*/
       .menu__list ul a {
        display:inline-block;
        text-align: center;
        
    }
      li {
        list-style: none;
        display:inline-block;
        text-align: center;
        margin: 10px;
    
    }
   
   .menu__list ul a {
    display:inline-block;
        text-align: center;
        margin: 10px;
       }

       li :hover {
        background: #635472;
    }
     #intro-section{
        background-color: #b4a6c2;
        text-align: center; 
       
       
       }
       #section-img{
        text-align: center; 
        margin: 10px;

       
       }
       #texto{
        text-align: center;
    }
    #section-mapa{
    text-align: center; 
    margin: 10px;

  }

         
