.menu__list a{
    list-style-type: none;
    
    }
    .menu__list  a {
     color: black;
     text-transform: uppercase;
     text-decoration: none;
     }
     
    
    .menu__list ul a {
     display:inline-block;
     text-align: center;
     
    }
    li {
     list-style: none;
     display:inline-block;
     text-align: center;
     margin: 10px;
 
    } 

    .menu__list ul a {
    display:inline-block;
     text-align: center;
     
    }

    li :hover {
     background: #dac1eb;}
    