

*   {
    margin: 0;
    padding: 0;
     }
    body{
     font-family: 'Montserrat', sans-serif;
     
     }
     .contenedor{
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      
     }
    
     header {
       background-color: #a183c0;
       padding: 5px;
       
     }
       
      #intro-section{
      padding:60px ;
       }
     
       .menu__list a{
       list-style-type: none;
       
       }
       .menu__list  a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        }
       